<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connectToDb" connectionString="Data Source=123.123.123; Initial Catalog=??????; User id=user; Password=password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>