<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connectToDb" connectionString="Data Source=.\MSSQLSERVER2016;Initial Catalog=Bravo;Integrated Security=True" providerName="System.Data.SqlClient" />

    <!--<add name="connectToDb" connectionString="Data Source=10.152.120.28; Initial Catalog=Bravo; User id=BravoLogin; Password=bravo123;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>